<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j">
<f:view contentType="text/html" locale="pt"/>
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon"
          type="image/x-icon"
          href="http://code.google.com/p/redefoks/logo?cct=1273086348"/>
</head>
<body>
<a4j:status layout="block"
            stopStyle="display: none;"
            startStyle="position: absolute; top: 50%; left: 50%; z-index: 1000;">
    <f:facet name="start">
        <h:graphicImage value="resource:///util/images/busy.gif"/>
    </f:facet>
</a4j:status>

<rich:page pageTitle="#{i18n['application.name']}"
           theme="#{context.currentTheme}">
    <f:facet name="header">
        #{i18n['application.name']} #{i18n['application.version']}
    </f:facet>

    <f:facet name="subheader">
        <ui:insert name="subheader"/>
    </f:facet>

    <f:facet name="sidebar">
        <ui:insert name="sidebar"/>
    </f:facet>

    <ui:insert name="content"/>

    <f:facet name="footer">
        #{i18n['application.copyRight']}
    </f:facet>
</rich:page>
</body>
</html>